service: sf-lambda-cloudwatch-triggered

custom:
  ENVIRONMENT_NAME:
    development: "development"

provider:
  name: aws
  runtime: nodejs8.10
  region: eu-west-1
  stage: ${opt:stage, 'development'}

# you can overwrite defaults here
  environment:
    ENVIRONMENT_NAME: ${self:custom.ENVIRONMENT_NAME.${self:provider.stage}}

# you can add statements to the Lambda function's IAM Role here
  iamRoleStatements:
    - Effect: "Allow"
      Action:
         - "ssm:GetParameter"
         - "ssm:GetParameters"
         - "ssm:GetParametersByPath"
      Resource: 'arn:aws:ssm:::${self:custom.ENVIRONMENT_NAME.${self:provider.stage}}/lambda-cloudwatch-triggered/'

functions:
  hello:
    handler: index.handler
    events:
      - schedule: cron(0 2 * * ? *)